body {    
 background: linear-gradient(to top right, #ff66cc 0%, #ff6666 78%);
}

form {
  background-color:bisque;
  width: 550px;
  margin: auto;
  color: white;
  border: solid 6px #EC7063;
  border-radius: 5px;
}

form label {
  width: 200px;
  float: left;
  color: black;
    margin: 18px;
}

label:hover{
    color:peru;
}

#nCliente {
  color: black;
}

div img {
  margin-left: 46%;
}

p {
  margin-left: 46%;
  font-size: 20px;
  font-family: sans-serif;
  font-style: italic;
}

/*style-input,email*/
input[type=text]{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 20px;
    color: orangered;
}
/*style-input,email*/
input[type=email]{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 20px;

}
/*style-input,passwd*/
input[type=password]{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 20px;
}

/*Resaltar campo Obligatorio*/
input:invalid {
  box-shadow: 0 0 5px 1px red;
background-color: #FDD;
}
/*style-input,submit and reset*/
#submit, #reset{
    height: 2.5em;
    vertical-align: middle;
    cursor: pointer;
}

#submit:hover, #reset:hover {
    font: bold .6em sans-serif;
  outline: none;
  background: #EC7063;
    border:0;
    -webkit-transform: rotate(-1.5deg);
    -moz-transform: rotate(-1.5deg);
}

#submit:focus, #reset:focus {
    font: bold .6em sans-serif;
  outline: none;
  background: white;
    border:0;
    -webkit-transform: rotate(-1.5deg);
    -moz-transform: rotate(-1.5deg);
}
/*style-checkbox*/
input[type="checkbox"]{
    display:inline-block;
    width:16px;
    height:18px;
    margin:-1px 4px 0 0;
    cursor:pointer;
}

